html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #f8f8f8;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 156px;
}

/* Header */

.header {
    position: relative;
    min-height: 500px;
    padding-top: 82px;
    padding-bottom: 82px;
    color: #fff;
    background-image: url(../img/image.jpg);
    background-size: cover;
    background-position: center;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.35);
    /* Лёгкое затемнение */
    z-index: 1;
    pointer-events: none;
    /* Не мешает кликам */
}

.header>* {
    position: relative;
    z-index: 2;
    /* Контент поверх затемнения */
}

.header_title {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 38px;
    border-radius: 20px;
}

.header_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 437px;
    margin-bottom: 45px;
}

.header_button {
    width: 194px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding: 18px 40px;
    background-color: #00a6ff;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    
}

/* Block */

.services .block {
    text-align: center;
    margin-bottom: 100px;
}

.block_title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin-bottom: 25px;
}

.block_text {
    font-size: 16px;
    letter-spacing: 0.7px;
    line-height: 24px;
    font-weight: 400;
    color: #9ca3af;
    max-width: 465px;
    margin: 0 auto;
}

/* Services */

.services {
    margin: 100px 0;
}

.services_items {
    display: flex;
    row-gap: 24px;
    justify-content: space-between;
    max-width: 888px;
    margin: 0 auto;
}

.item {
    display: flex;
    max-width: 280px;
    width: 100%;
    height: 120px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.services_items_img {
    height: 50px;
    width: 50px;
    align-items: center;
    align-self: center;
}

.services_items_title {
    font-size: 16px;
    font-weight: 400;
    color: #9ca3af;
}


/* Team */

.team .block {
    text-align: center;
    margin-bottom: 100px;
}

.team_items {
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    margin: 0 auto;
    gap: 50px;
}

.team_item {
    display: flex;
    padding: 20px;
    background-color: #fff;
    max-width: 260px;
    width: 100%;
    height: 76px;
    border-radius: 11px;
    align-items: center;
    box-shadow: 0px 4px 70px 0px rgba(91, 93, 99, 0.06);
}

.team_img {
    align-self: center;
    margin-right: 8px;
}

.team_title {
    font-size: 12px;
    margin-bottom: 3px;
    margin-top: 5px;
}

.team_text {
    margin-top: 0;
    font-size: 11px;
    color: #9ca3af;
    font-style: italic;
}



/* Gallery  */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 100px;
}

.item-gallery {
    flex: 0 0 23%;
    /* 4 плитки в ряд (100% / 4) */
    overflow: hidden;
}

.item-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background: #d2d2d2;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #000;
    /* margin-top: 50px; */
    border-top: 1px solid #e7e7e7;
}












/* @media (max-width: 944px) {
  .gallery {
    justify-content: center;
} */


/* @media (max-width: 768px) {
  .item-gallery {
    flex: 0 0 48%;
  }
} */

/* Media */

@media screen and (max-width: 1366px) {
    .team .container {
        padding: 0 15px;
    }
}
@media screen and (max-width: 1024px) {
    .team_item {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 832px) {
    .container {
        padding: 0 15px;
    }
    .item-gallery {
        flex: 0 0 100%;
    }
}
/* @media (max-width: 812px) {
    .item-gallery {
        flex: 0 0 48%;
    }
    .gallery .container {
        padding: 0;
    }
} */
@media screen and (max-width: 768px) {
    /* .container {
        padding: 0 15px;
    } */
    .services_items {
        /* flex-direction: column; */
        /* justify-content: center; */
        /* flex-wrap: wrap; */
        align-items: center;
    }
    .services_items_title {
        font-size: 14px;
    }
    .header_button {
        width: 160px;
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    .header_title {
        font-size: 36px;
    }

}
